h1 {
    width: 416.1px;
    height: 69.3px;
    text-align: center;
    margin: auto;
}
.center {
    margin: auto;
    width: 50%;
}
table {
    border: collapse;
}
td {
    border: 1px solid green;
    padding: 30px;
}
.dark {
    background-color: black;
}